<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bluePrintCreated)="onBluePrintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>

<app-game-control (numberGenerated)="incrementGameCounter($event)"></app-game-control>
<hr>
<label for="">Even Numbers</label>
<div style="float:left">
  <app-even [evenNumbers]="evenCounter"></app-even>
</div>
&nbsp;&nbsp;&nbsp;
<label for="">Odd numbers</label>
<div style="float:left">
  <app-odd [oddNumbers]="oddCounter"></app-odd>
</div>